*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px; 
    font: inherit; 
    vertical-align: baseline;
    font-family: 'Noto Sans JP', sans-serif;
    
}
strong {
    font-weight: 600;
}

body {
    background-color: #CCDDDD;
    color:  rgb(0,78,56);
    text-align: center;
}
header {
    border-bottom: solid 1px white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    position: fixed;
    width: 100%;
    background-color:  #CCDDDD;
}
nav ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 10px;
    
}
h3 {
    font-size: 1.25rem;
}

/*Main section, set up as Grid*/
main{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(32, 1fr);
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / span 10 / span 1;
    background-image: url("images/programming-code-with-laptop-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#banner #banner-content {
    width: 100%;
    text-align: center;
    background-color: rgba(36, 46, 53, 0.7) ;
    
}
h1{
    font-size: 2rem;
    color: #CCDDDD;
}
h2 {
    font-size: 1.5rem;
    color: #CCDDDD;
}
p{
    font-size: 0.8rem;
}

.about {
    
    grid-area: 11 / 1 / span 4 / span 1;
    margin: 10px;
    max-width: 500px;
    justify-self: center;
}

.projects {
    
    grid-area: 16 /  1 / span 15 / span 1;
    max-width: 750px;
    justify-self: center;
    }

.projects-flex {
    margin-top: 15px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
   
}
.project {
    flex-basis: 45%;
    border: whitesmoke solid 1px;
    background-color: rgba(36, 46, 53, 0.4);
    border-radius: 2%;
    color: #CCDDDD;
    margin: 5px;
    
}
a {
    color: #CCDDDD;
}
a:visited {
    color: turquoise;
}

.contact {
    
    grid-area: 28 / 1 / span 4 / span 1;
}

@media only screen and (min-width: 420px), (orientation: landscape;) {
    .projects-flex {
        margin-top: 15px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
       
    }
    .project {
        flex-basis: 30%;
        border: whitesmoke solid 1px;
        background-color: rgba(36, 46, 53, 0.4);
        border-radius: 2%;
        color: #CCDDDD;
        margin: 5px;
        
    }
}

@media only screen and (min-width: 680px), (orientation: landscape;) {
    main{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(26, 2fr);
    }
    .projects-flex {
        margin-top: 15px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
       
    }
    .project {
        flex-basis: 20%;
        border: whitesmoke solid 1px;
        background-color: rgba(36, 46, 53, 0.4);
        border-radius: 2%;
        color: #CCDDDD;
        margin: 5px;
    }

    #banner {
        grid-area: 1 / 1 / span 20 / span 2;
        max-height: 600px;
    }
    .about {
    
        grid-area: 21 / 1 / span 3 / span 1;
        margin: 10px;
        max-width: 500px;
        
    }
    .projects {
        
        grid-area: 21 /  2 / span 6 / 2;
        max-width: 750px;
        
    }
    
    .projects-flex {
        margin-top: 15px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
       
    }
    .project {
        flex-basis: 45%;
        border: whitesmoke solid 1px;
        background-color: rgba(36, 46, 53, 0.4);
        border-radius: 2%;
        color: #CCDDDD;
        margin: 5px;
    }
    .contact {
    
        grid-area: 24 / 1 / span 3 / span 1;
    }
}
