*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px; 
    font: inherit; 
    vertical-align: baseline;
    
}

body {
    background-color: rgb(0,78,56);
    color: #CCDDDD;
}
header {
    border: solid 1px white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
nav ul li {
    display: inline;
    
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(15, 1fr);
}



.banner {
    border: solid 1px white;
    grid-area: 1 / 1 / span 5 / span 3;
}

.about {
    border: solid 1px white;
    grid-area: 5 / 1 / span 3 / span 3;
}

.projects {
    border: solid 1px white;
    grid-area: 9 / 1 / span 5 / span 3;
}

.contact {
    border: solid 1px white;
    grid-area: 14 / 1 / span 3 / span 3;
}
